#include("upperheader.vm")
<style>
$myCSS
</style>
#include("lowerheader.vm")
#include("menu.vm")

		<br/>
		<h2>Choississez un chapitre :</h2> 
	
	<ul>
	#foreach($chapitre in $chapitreList)
	   <li>
	   		<a href=/CanYouReadIt/chapitre?nom=$chapitre.urlMangaName&chapitre=$chapitre.numero>
	   			Chapitre $chapitre.numero
	   		</a>
	   		 : $chapitre.nomChapitre
	   </li>
	#end
	</ul>

#include("footer.vm")