#include("header.vm")
#if($admin)
	#include("menuAdmin.vm")
#else
	#include("menu.vm")
#end

<h1>$nomManga</h1>
<h2>Choississez un chapitre à lire :</h2> 
	
	<ul>
	#foreach($chapitre in $chapitreList)
	   <li>
	   		<a href=/CanYouReadIt/chapitre?nom=$chapitre.urlMangaName&chapitre=$chapitre.numero&nomDuChapitre=$chapitre.nomChapitreUrl>
	   			Chapitre $chapitre.numero
	   		</a>
	   		 : $chapitre.nomChapitre
	   </li>
	#end
	</ul>

#include("footer.vm")