#include("header.vm")
#include("menu.vm")
	
	<h1> $nomManga : chapitre $numeroChapitre - $nomChapitre </h1>
	
	#if(!$chapitrePages || $chapitrePages.size() == 0)
	<h1>Ce chapitre est vide </h1>
	<img src="./stylesheets/Error.jpg" alt=""/>
	#else
		<ul>
			#foreach($page in $chapitrePages)
			   <li>
						<img src=$page ALT="Problème d'affichage">
			   </li>
			#end
		</ul>
	#end
	
#include("footer.vm")