#include("header.vm")
#if($admin)
	#include("menuAdmin.vm")
#else
	#include("menu.vm")
#end

	<div id="formulaire">
			<form action="/CanYouReadIt/accueil">
					<input type="text" name="recherche" placeholder="Rechercher un manga">
	  				<input type="submit" value="Submit">
			</form>
	</div>
			<br>
			#if(!$mangaFound)
				#if($mangaRechercher != '')
					Le manga $mangaRechercher  n'a pas été trouvé. <br/>
				#end
			#else
			<h2>Voici les resultats trouvés : </h2>
			<ul>
				#foreach($manga in $mangaFound)
		   			<li>
		   			<a href=/CanYouReadIt/manga?nom=$manga.replace("-", "%20") >$manga.replace("-", " ") </a>
		   			#if($admin)
						<a href =/CanYouReadIt/accueil?add=$manga > <img src="./stylesheets/add.jpg" alt="Add"> </a>
					#end
		   			</li>
				#end
			</ul>
			#end
					
			<br/>
			<h2>Mangas favoris :</h2> 
		
		<ul>
		#foreach($manga in $mangaList)
		   <li>
		   		<a href=/CanYouReadIt/manga?nom=$manga.urlMangaName> $manga.name</a> 
		   		#if($admin)
		   			<a href =/CanYouReadIt/accueil?delete=$manga.urlMangaName ><img src="./stylesheets/del.jpg" alt="Delete"> </a>
		   		#end
		   </li>
		#end
		</ul>
#include("footer.vm")